@font-face {

    font-family: dayrom;
    src: url("../fonts/dayrom.woff") format("woff2"),
        url("../fonts/dayrom.eot") format("eot"),
        url("../fonts/dayrom.ttf") format("truetype"),
        url("../fonts/dayrom.svg") format("svg");

}


@font-face {

    font-family: ballpark;
    src: url("../fonts/ballpark.woff") format("woff2"),
        url("../fonts/ballpark.eot") format("eot"),
        url("../fonts/ballpark.ttf") format("truetype"),
        url("../fonts/ballpark.svg") format("svg");

}