@import 'vars';
@import 'font';



* {
    box-sizing: border-box;
}



body {
    font-family: "dayrom", serif;
    background: url('../img/fond_jaune.png') top left repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-transform: uppercase;
}

.brand {
    float: left;
    font-family: "ballpark";
    font-size: 20px;
    font-weight: bold;

    .brand__logo {
        height: 60px;
        width: 59px;
        //border: 2px solid springgreen;
    }

    p {
        margin: 0;
        font-size: 18px;
        font-family: "ballpark";
    }

    .brand__description {

        margin: -3px 0 0 0;
        font-family: "dayrom";
    }

}

.mainHeader {
    font-family: inherit;
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #606262;

    ::after {
        content: '';
        clear: both;
    }
}


.mainNav {

    float: right;
    padding: 30px 20px 0 0;



    ul {
        list-style: none;


        li {
            display: inline;

            padding: 20px 5px;
            text-transform: uppercase;
        }

    }
}

/***************************
*** NAVIGATION *************
***************************/
a {
    color: black;
    text-decoration: none;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 1;
        text-decoration: underline;
        color: $link-color;

    }

    .active {
        color: $link-color;
    }
}



/***************************
*** BANNER *************
***************************/
.banner {
    margin-top: 10px;
    position: relative;
    //border: 2px solid yellow;
    background: url(../img/sanfrancisco.jpg) no-repeat center / cover;
    min-height: 219px;
    width: 100%;

    .banner__description {
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
        width: 100%;
        //   border: 2px solid navy;
        color: rgba(255, 255, 255, 0.8);
        background-color: rgba(0, 0, 0, 0.5)
    }

    .btn__highlighted {
        position: absolute;
        right: 10px;
        bottom: 4px;
        font-weight: bold;
        padding: 8px;
        border: none;
        color: white;
        border-radius: 2px;
        cursor: pointer;
        background: #9b0e10;
        background: url(../img/fond_degraderouge.png) top left repeat;
        opacity: 0.7;
        transition: color opacity .3s ease-in;

        &:hover {
            opacity: 1;
            background: #530709cd;
        }

    }
}


/***************************
*** MAIN CONTENT *************
***************************/
.site-content {
    margin-top: 20px;
    padding: 5px 10px;
    font-family: "dayrom", serif;
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;

    h1 {
        margin: 0;
    }

    .ico-epingle {
        padding-right: 10px;
        margin: 0;
    }

    .left-col {
        //  float: left;
        //   top: 0;
        //   left: 0;
        //  border: 2px solid yellow;
        //width: calc(100% - 260px);
        //width: 60%;
    }

    .right-col {
        // float: right;
        background: rgba(110, 105, 98, 0.5);
        padding-left: 10px;

        //   width: 60%;
        h2 {
            text-align: center;
        }

        img {
            width: calc(100% - 50px);
            height: auto;
            padding: 0 25%;
            display: inline-block;
        }

        .social-icons {
            list-style: none;
            padding: 0 25%;

            li {
                display: inline-block;
                padding: 0 5px;

                img {
                    height: auto;
                    width: 41px;
                }
            }
        }
    }

}


.footer {

    .last-tweets {
        border: 2px solid lightblue;
        font-size: 16px;
    }
}

/***************************
*** UTILS *************
***************************/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}