/* Imports
   ========================================================================== */

@import 'vars';
@import 'font';
@import 'utils';

/* Document
   ========================================================================== */

* {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 1;
        text-decoration: underline;
        color: $link-color;

    }

    .active {
        color: $link-color;
    }
}


body {
    font-family: "dayrom", "Segoe UI", sans-serif;
    background: url('../img/fond_jaune.png') top left repeat;

}

h1 {
    text-transform: uppercase;
    margin: 0;
}

/* Header & Nav
   ========================================================================== */


.mainHeader {
    font-family: inherit;
    margin: 0;
    padding: 0 0 10px 0;
    background: url('../img/separateur.png') repeat-x bottom;

    ::after {
        content: '';
        clear: both;
    }
}


.mainNav {

    float: right;
    padding: 30px 20px 0 0;



    ul {
        list-style: none;


        li {
            display: inline;

            padding: 20px 5px;
            text-transform: uppercase;
        }

    }
}

.brand {
    float: left;
    font-family: "ballpark";
    font-size: 20px;
    font-weight: bold;

    a {
        text-decoration: none;

        &:hover {
            color: darken(red, 10)
        }
    }


    .brand__logo {
        height: 60px;
        width: 59px;

    }

    p {
        margin: 0;
        font-size: 18px;
        font-family: "ballpark";
    }

    .brand__description {

        margin: -3px 0 0 0;
        font-family: "dayrom";
    }

}





.banner {

    position: relative;
    background: url(../img/sanfrancisco.jpg) no-repeat center / cover;
    min-height: 219px;
    width: auto;

    .banner__description {
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
        width: 100%;

        color: rgba(255, 255, 255, 0.8);
        background-color: rgba(0, 0, 0, 0.5)
    }

    .btn__highlighted {
        position: absolute;
        right: 10px;
        bottom: 4px;
        font-weight: bold;
        padding: 8px;
        border: none;
        color: white;
        border-radius: 2px;
        cursor: pointer;
        background: #9b0e10;
        background: url(../img/fond_degraderouge.png) top left repeat;
        opacity: 0.7;
        transition: color, opacity .3s ease-in;

        &:hover {
            opacity: 1;
            background: #530709cd;
        }

    }
}

/* Site Content
   ========================================================================== */
.site-content {
    margin-top: 20px;
    padding: 5px 10px;
    font-family: "dayrom", serif;
    width: 100%;
    display: grid;

    grid-template-columns: 66% 34%;


    .ico-epingle {
        padding-right: 10px;
        margin: 0;
    }

    .left-col {
        padding: 10px;

        p::first-line {
            margin-top: 2px;
        }
    }

    .right-col {
        // float: right;
        background: rgba(110, 105, 98, 0.5);
        padding-left: 10px;

        //   width: 60%;
        h2 {
            text-align: center;
        }

        img {
            width: calc(100% - 50px);
            height: auto;
            padding: 0 25%;
            display: inline-block;
        }

        .social-icons {
            list-style: none;
            padding: 0 25%;

            li {
                display: inline-block;
                padding: 0 5px;

                img {
                    height: auto;
                    width: 41px;
                }
            }
        }
    }

}

/* Footer
   ========================================================================== */
.footer {
    display: grid; position: absolute;
    grid-template-columns: repeat(3, 1fr); //repeter 1fr pour les 3 cols 
    font-family: "dayrom", serif;
    background: url("../img/separateur.png") top left repeat-x;
    margin-top: 0;
    grid-column: 3;
    h2 {
        text-transform: uppercase;
    }

    .last-tweets {

        list-style: none;
    }

    .pictures {

        font-size: 16px;

        ul {
            list-style-type: none;

            li {
                display: inline-block;
                padding: 5px;
            }
        }
    }

    .friends {

        ul {
            list-style-image: url('../img/ico_liensexterne.png');
        }
    }
}
